<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybabyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBabyApp">
        <activity
            android:name=".Activities.BedtimeStoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewSleepLogsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LogSleepActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StartWorkoutActivity5"
            android:exported="false" />
        <activity
            android:name=".Activities.StartWorkoutActivity4"
            android:exported="false" />
        <activity
            android:name=".Activities.StartWorkoutActivity3"
            android:exported="false" />
        <activity
            android:name=".Activities.StartWorkoutActivity2"
            android:exported="false" />
        <activity
            android:name=".Activities.MotivationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NutritionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HealthProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ScheduleAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MedicalActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BathProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DisplayProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SleepActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StartWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DaiperActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FeedingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>